* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slideshow-container {
    position: relative;
    width: 100%;
    height: auto;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

 /* Estilo básico para remover margens e garantir o preenchimento da tela */
    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Arial, sans-serif;
      background: url('TelaPrincipalContato.png') no-repeat center center fixed;
      background-size: cover; /* Cobre a tela toda */
    }

.container {
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
}

h1 {
    margin-bottom: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 4px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#message {
    margin-top: 5px;
    color: red;
}

 /* Container das fotos */
    .gallery {
      display: grid;
      grid-template-columns: repeat(8, 1fr); /* 4 fotos por linha */
      gap: 10px; /* Espaçamento entre as fotos */
      padding: 20px;
    }

    /* Cada item da galeria (foto) */
    .gallery png {
      width: 100%;
      height: auto;
      border-radius: 8px; /* Bordas arredondadas */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ao redor das fotos */
    }

    /* Ajusta a quantidade de colunas para telas menores (responsivo) */
    @media (max-width: 800px) {
      .gallery {
        grid-template-columns: repeat(2, 1fr); /* 2 fotos por linha */
      }
        
